<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="ssisdb" connectionString="Data Source=localhost\sql2019;Initial Catalog=ssisdb;Provider=SQLNCLI11.1;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="ssisServer" value="localhost\sql2019" />
</appSettings>
</configuration>