<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="ssisdb" connectionString="Data Source=localhost;Initial Catalog=ssisdb;Provider=sqloledb;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="ssisServer" value="localhost" />
  </appSettings>
</configuration>